<div class="row">
  <div class="col-3">
<div class="row">
  <div class="col-6">
      <img src="../assets/img/iconlol.png" class="logolol" alt="">
  </div>
  <div class="col-6 d-flex justify-content-end">
      <span class="textserver">LAN(ES) <fa-icon class="word" [icon]="faglobe"></fa-icon></span>
  </div>
</div>

<div class="row top">
  <div class="col-12">
    <h3 class="inicar">INICIAR SESIÓN</h3>
  </div>
</div>

<div class="row">
  <div class="col-12">
      <mat-form-field class="login" appearance="outline">
          <mat-label>NOMBRE DE USUARIO</mat-label>
          <input autocomplete="off" matInput>
        </mat-form-field>
  </div>
  <div class="col-12">
      <mat-form-field class="login1" appearance="outline">
          <mat-label>CONTRASEÑA</mat-label>
          <input autocomplete="off" matInput>
          <mat-icon matSuffix>remove_red_eye</mat-icon>
        </mat-form-field>
  </div>
  <div class="col-12">
      <mat-checkbox class="checkbox">Permancer conectado</mat-checkbox>
  </div>

  <div class="col-12 top">
      <button class="buttonext" mat-icon-button aria-label="Example icon-button with a heart icon">
          <fa-icon class="nextb" [icon]="next"></fa-icon>
        </button>
  </div>

  <div class="col-12 top">
    <span class="texto">Crear cuenta</span> <br>
    <span class="texto">¿No puedes iniciar sesión</span> <span class="version">v1.0.6</span>
  </div>
</div>

  </div>

  <div class="col-9" style="background-image: url('../assets/img/Zoe.jpg');height: 97.4vh; background-repeat: no-repeat;">
      <div class="botonesend d-flex justify-content-end">
        <mat-icon class="icons">minimize</mat-icon>
        <fa-icon class="icons" [icon]="cog"></fa-icon>
        <fa-icon class="icons" [icon]="question"></fa-icon>
        <mat-icon class="icons">close</mat-icon>
      </div>
  </div>
</div>